<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Party Finder</title>
<link rel="stylesheet" href="style/default.css" />
<link rel="stylesheet" href="style/navigation.css" />
<link rel="stylesheet" href="style/footer.css" />
<link rel="stylesheet" href="style/slider.css" />
    <!--[if IE 6]>
    <link rel="stylesheet" href="style/ie6.css" type="text/css" />
    <![endif]-->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/easySlider1.5.js"></script>
	<script type="text/javascript" src="js/code.js"></script>
</head>

<body>

<div id="wrap">
			<h1>Party Finder</h1>
			
			<a href="" title="" id="app-store"></a>
				<div id="content">
				<div class="phone-demo">
						<div id="slidehold">	
								<div id="slider">
									<ul>				
										<li><a href=""><img src="images/carousel/01.jpg" alt="" /></a></li>
										<li><a href=""><img src="images/carousel/02.jpg" alt="" /></a></li>
										<li><a href=""><img src="images/carousel/03.jpg" alt="" /></a></li>
										<li><a href=""><img src="images/carousel/04.jpg" alt="" /></a></li>
										<li><a href=""><img src="images/carousel/05.jpg" alt="" /></a></li>			
									</ul>
								</div>		
						</div>
						<img src="images/iPhone4.png" alt="" />
						</div>
						<div id="area">
									<h2>What is Party Finder?</h2>
									<p>Party Finder is an iOS application designed to both help advertise and find events close to the geographical location of the user. It is written in Ruby On Rails and was designed as a project for a CS487 class at Illinois Institute of Technology by Subhi Beidas, Matthew Knippen, Joshua Lacey, and James Reinhofer.</p>
									<ul class="features">
												<p> </p>
												<p> </p>
												<p> </p>
												<p> </p>
												<p> </p>
												<p> </p>
												<li><a href="EventDetails.html" title="">Example Event</a></li>
												<li><a href="" title="">Download now</a></li>
									</ul>
						</div>
			  </div>
    </div>
 <!--/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/ -->
         <div id="foot">
         	<ul class="footlist">
            	<li class="footis">
									<h3>How do you use Party Finder?</h3>
									<p>After you have downloaded and installed the application, simply launch the application from the main menu. Follow the on screen prompts and log in using your facebook account. Once you are logged in you can select to view/edit your hosted events, to create a new event, or to search for events near you. After selecting your choice, follow the on screen prompts. </p>
									
                </li>
            	<li class="footis">
									<h3>What do I need to use Party Finder?</h3>
									<p>All you need is an iOS device such as an iphone and a facebook account.</p>
                  <ul>
												<!--<li><a href="" title="">Abrem ipsum dolor sit amet, consectetur adipiscing elit. </a></li>-->
									</ul>
                </li>
                 
            	<li class="footis footlastis">
												<h3>Additional Links</h3>
                  <ul class="ulb">
												<li><a href="http://www.facebook.com/IITPartyFinder" title="">Like us on Facebook! </a></li>
												<li><a href="" title="">Video Tutorial (YouTube) </a></li>
												<li><a href="http://www.iit.edu/" title="">Illinois Institute of Technology </a></li>
									</ul>
                </li>
            </ul>
           
            <p class="clearboth smallp">&copy; Party Finder<a href="http://www.templatis.com/iphone-app-web-templates.php" title="iPhone App Web templates" class="foota">iPhone Website Templates</a> </p>
         </div>
</body>
</html>
