/*TAG RECLASS*//*TAG RECLASS*//*TAG RECLASS*//*TAG RECLASS*//*TAG RECLASS*//*TAG RECLASS*//*TAG RECLASS*/

*{
margin:0;padding:0;
font:1em/1.4em Arial, Verdana, Helvetica, sans-serif;
color:#c4c4c4;
}
body{background:#0b0b0b url(../images/bg-body.gif) repeat-x left top;}
a{
outline:none;
text-decoration:none;
color:#fff;
font-weight:bold;
}
#feature-boxes a{
text-decoration:none;
color:#000;
font-weight:bold;
}
a img{border:none;}
h1{
font-family:Georgia, serif;
font-style:italic;
background:url(../images/logo.png) no-repeat left top;
position:absolute;
top:16px;left:34px;
width:152px;height:61px;
padding:3px 0 0 78px;
color:#fff;
font-size:1.6em;
line-height:1.15em;
font-weight:bold;
}
h2{
color:#000;
font-size:1.45em;
font-weight:bold;
float:left;
width:456px;
padding:15px 15px 15px 40px;
line-height:1.3em;
}

/*STRUCTURE*//*STRUCTURE*//*STRUCTURE*//*STRUCTURE*//*STRUCTURE*//*STRUCTURE*//*STRUCTURE*//*STRUCTURE*//*STRUCTURE*/
#wrap{
width:986px;
margin:0 auto;
position:relative;
}

/*Promo area*//*Promo area*//*Promo area*//*Promo area*//*Promo area*//*Promo area*/

#content img{
padding:0;
float:left;
}

/*CONTENT-AREA-BOXES*//*CONTENT-AREA-BOXES*//*CONTENT-AREA-BOXES*//*CONTENT-AREA-BOXES*//*CONTENT-AREA-BOXES*//*CONTENT-AREA-BOXES*/
#content{
padding-top:90px;
left:0;
float:left;display:inline;
} 
#content p{
padding:10px 15px 0 40px;
font-size:0.8em;
color:#9e9c9c;
font-weight:bold;
float:left;display:inline;
}
#content ul{
float:left;clear:left;
font-size:1.1em;
padding:12px 6px 0 6px;
}
#area{
position:absolute;
top:113px;left:365px;
width:450px;
}
#area p{
line-height:1.6em;
float:left;clear:left;
width:100%;
}
#area h2{
padding-bottom:2px;
color:#fff;
}
ul.features{
float:left;display:inline;
margin-top:9px;
}
ul.features li{
background:url(../images/list-item-right.png) no-repeat right bottom;
height:38px;width:318px;
list-style-type:none;
margin-bottom:8px;
padding-left:30px;
float:left;clear:left;
font-size:1em;
}
ul.features li a{
background:url(../images/list-item-left-plus.png) no-repeat left bottom;
display:block;
height:32px;width:274px;
padding-top:6px;
padding-left:44px;
font-weight:bold;
color:#fff;
}
ul.features li a:active{color:#fff;}


/*EXTRAS*//*EXTRAS*//*EXTRAS*//*EXTRAS*//*EXTRAS*//*EXTRAS*//*EXTRAS*//*EXTRAS*//*EXTRAS*/
.clearboth{
clear:both;
}
#app-store{
display:block;
width:203px;height:66px;
background:url(../images/btn/appstore.png) no-repeat left top;
position:absolute;
right:6px;top:16px;
}
#app-store:hover{background-position:left bottom;}
